
.navbar{
  box-shadow: 0px 5px 20px;
  width: 100%;

  background-color: darkgrey;
  position: fixed;
  display: inline-block;
  text-align: center;
  top: 0px;

}

.navbar div{
  display:inline-block;
  width: 30%;
  text-align: center;
  box-sizing: border-box;
  margin: 0px -20px;
  padding-top: 30px;
}

.navbar div:hover{
  background-color: white;

}
.navbar-container, .navbar, .navbar div{
  height: 80px;
}
