.wrapper {
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  display: block;
}
.site-title{
      color: #C4C7A5;
      text-decoration: none;
    font-size: 64px;
    font-family: 'PT Sans';
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 15px;
}
body{
      background-color: #4B4C38
}
.site-description {
    font-size: 14px;
    color: #C4C7A5;
    letter-spacing: 2px;
    text-indent: 6px;
    font-family: 'Josefin Sans';
    padding-bottom: 20px;
}

.site-navigation {
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 6px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    padding-top: 10px;
    display: block;
}
.site-navigation , a {
  margin: 0px 10px;
  font-size: 20px;
  color: white;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;
}

.post {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    padding-top: 0;

}
img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 300px;
}
profile-photo {
    height: 350px;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
  }

  h1{
    font-style: bold;
    color: #C4C7A5;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: "PT Sans";
    font-size: 18px;
  }
  h1, p{
    color: #C4C7A5;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: "PT Sans";
    font-size: 18px;
  }
  p{
   color: #C4C7A5;
   margin-bottom: 15px;
   letter-spacing: 2px;
   text-indent: 2px;
   font-family: "PT Sans";
   font-size: 18px;
 }
 a{
   color: white;
   margin-bottom: 15px;
   letter-spacing: 2px;
   text-indent: 2px;
   font-family: "PT Sans";
   font-size: 15px;
}

.page-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: "PT Sans";
    font-size: 18px;
    color: #C4C7A5;
    display: block;
    padding-top: 20px;
}

.postContent {
    padding-top: 3.5em;
    text-align: left;
    font-weight: 400;
    font-size: 10px;

}
.postDate {
    float: left;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-indent: 2px;
    color:  #C4C7A5;
}
.post {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    padding-top: 2em;
}
.post-link{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-indent: 3px;
}
.contact-form input {
    height: 50px;
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 6px;
    border-color: grey;
    width: 90%;
}

/*.contact-form input, .contact-form textarea {
    width: 80%;
    padding: 10px;
    border-radius: 6px;
    border-color: grey;
}*/
.contact-form{
  width: 90%;
    margin: 0 auto;
    text-align: center;
}
.contact-form textarea {
    height: 200px;
    border-radius: 6px;
    border-color: grey;
    font-size: 25px;
    width: 90%;
}
form{
  display: block;
}

.contact-form .submit {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 50%;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    color: white;
}
